<div class="min-w-full bg-gray-800 text-white p-2 flex justify-between items-center">
    <div class="w-24">
        <img src="starwars.png" alt="logo" class="w-24"/>
    </div>
    <div class="flex justify-between items-center">
        <ul class="flex justify-between items-center">
            <li class="m-2 cursor-pointer" (click)="goToRoute('/')">Home</li>
            <li class="m-2 cursor-pointer" (click)="goToRoute('/films')">Films</li>
            <li class="m-2 cursor-pointer" (click)="goToRoute('/characters')">Characters</li>
        </ul>
    </div>
</div>